@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black url(../imagens/bg.jpg) no-repeat center center fixed;
    background-size: contain;
    color: white;
}

div#fundo {
    background-color: rgba(0, 49, 54, 0.583);
    height: 100vh;
}

header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 150px;
    background-color: rgb(26, 76, 84);
    box-shadow: 2px 2px 20px black;
}

header h1 {
    font-size: 18vw;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.387);
}

nav {
    text-align: center;
    padding: 10px;
}

nav span#burguer {
    display: block;
    background-color:rgba(0, 0, 0, 0.883);
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    cursor: pointer;
}

nav menu {
    display: none;
}

nav ul {
    list-style: none;
}

nav li {
    padding: 10px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.883);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.479);
    border-radius: 5px;
    transition: 0.5;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.56);
    transition: .5s;
}

nav a {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    transition: .5s;
}

nav a:hover {
    text-decoration: underline;
    letter-spacing: 5px;
    transition: .5s;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}